tcode.jl
tmp*
env/
venv/
dist/
*/__pycache__
*/*/__pycache__
qiskit-terra/
Manifest.toml
**/*.so
repl_history.jl
bin/
demos/.ipynb_checkpoints/
.envrc
src/qiskit_alt.egg-info/
/qiskit_alt.egg-info/
/qiskit_alt.log
/julia
*.disable
